<div class="container mt-5 p-5">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="mb-3 col-lg-10">
        <input type="text" class="form-control" formControlName="movieName" placeholder="Search a movie...">
      </div>
      <div class="col-lg-2">
        <button class="btn btn-danger" type="submit">Search</button>
      </div>
    </div>
  </form>

  <div class="row mt-5 results" *ngIf="searchResult?.length > 0">
    <div class="col-lg-4" *ngFor="let s of searchResult">
      <div class="card mb-3">
        <img [src]="s.image_url" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" style="color: black;">{{ s.title }}</h5>
          <p><strong>Year:</strong> {{s.year}}</p>
          <p><strong>Genres:</strong> {{s.genres?.join(', ')}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5" *ngIf="searchResult?.length === 0">
    <div class="col-lg-12 text-center">
      <h3 class="fw-bold">Oops! No movies found. Try another name.</h3>
    </div>
  </div>
</div>
